body{
  display: flex;
  align-items: center;
  justify-content: center;
  width:  100vw;
  height: 100vh;
  overflow-x: hidden;
}

.foto{
  width: 100%;
  transition: transform .9s;
}

.foto:hover{
  transform: scale(.9);
}

table {
  width: 50%;
}

.skaju{
  color: black;
  background-color: yellow;
  transition: .9s;
}

.skaju:hover{
  color: yellow;
  background-color: black;
}

.pro{
  padding: 15px;
  background-color: rgb(31, 138, 138);
  color: aliceblue;
  font-size: 20px;
  transition: .9s;
  
}

.pro:hover{
  background-color: aliceblue;
  color: rgb(31, 138, 138) ;
}

@media (max-width:700px){
  table {
    width: 80%;
  }

  
}