body{
  display: flex;
  align-items: center;
  justify-content: center;
  width:  100vw;
  height: 100vh;
  overflow-x: hidden;
}

tr{
  background-color: rgb(205, 255, 232);
}

tr:nth-child(even){
  background-color: rgb(116, 255, 190);
}